In [7]:
def hello(n, sn='', patr=''):
    print('hello, ' + n + sn + patr)

In [8]:
hello('Max')

hello, Max

In [13]:
def mean(n1 = []):
    aver = 0
    for n in n1:
        aver += n
    return aver/len(n1)

In [14]:
mean([10, 5, 3])

6.0

In [15]:
# mean2(10, 5, 3, 4, 5)

In [70]:
def mean2(*args):
    aver = list(args)       
    return mean(aver)

In [71]:
mean2(3, 14, 15, 92, 65, 35)

37.333333333333336

In [41]:
def means3(n1, n2 = 0, *args):
    print(n1)
    print(n2)
    print(*args)

In [76]:
mean2(*[3, 5, 7, 8, 9]) #  mean2(3, 5, 7, 8, 9)

6.4

In [43]:
# mean2([10, 5, 3])

In [72]:
arr = [10, 5, 3]
mean2(*arr)

6.0

In [74]:
mean2(*[10, 5, 3, 8])

6.5

In [65]:
'    '.join(["---.----", "...---..."])

'---.----    ...---...'

In [58]:
concat("---.----", "...---...", sep='    ++++ ')

('---.----', '...---...')
    ++++

In [98]:
plus = lambda x, y: x + y
prod = lambda x, y: x * y


# 1 + 0 = 1
# 0 + 7 = 7
# neutral = 0

# 9 * 1 = 9
# neutral = 1

# min(1, INT_MAX) = 1
# min(29988, INT_MAX) = 29988
# neutral = INT_MAX


def sum(*args):
    sum = 0
    for arg in list(args):
        sum = plus(sum, arg)
    return sum


def fold(op, neutral, *args):
    sum = neutral
    for arg in list(args):
        sum = op(sum, arg)
    return sum

fold(min, 19191991919191919, 9, 2, 3)

production = lambda *args: fold(prod, 1, *args)

production(1, 2, 3, 4, 5, 6)

sum = lambda *args: fold(plus, 0, *args)

sum(1, 2, 3)

6

In [85]:
sum(3, 14, 15, 92, 65, 35)

224